


html,body
{
    overflow-x: hidden; 
}


html {
    scroll-behavior: smooth;

}

html body {
    font-family: 'Muli', sans-serif; 
    margin: 0px;
}


h1, p {
    font-weight: lighter;
}

/**
* Header-Bereich
*/


.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: auto;
    background-color: white;
   
}

@media (max-width:325px) {
    .header {
        height: 350px;
        flex-flow: row wrap;
    }
}

.header-navbar-links {
       margin-top: 0px;
       margin-right: 150px;
       padding-inline-start: 0px;
}

@media (max-width:800px) {
    .header-navbar-links {
        margin-top: 30px; 
    }
}

@media (max-width:325px) {
    .header-navbar-links {
        margin-top: 0px; 
    }
}

.header-navbar-links a{
    color:  rgb(81, 81, 81);
    text-decoration: none;
    transition: all 0.5s;
    font-size: 130%; 
    font-weight: lighter;       
}

@media (max-width:845px) {
    .header-navbar-links a{
        font-size: 115%; 
    }
}

.header-navbar-links a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-navbar-links li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    
}

@media (max-width:800px) {
    .header-navbar-links li {
        float: none;
    }
}

.header-brand-wrapper {
    margin-left: 40px;
}

@media (max-width:550px) {
    .header-brand-wrapper {
        margin-left: 0px;
        margin-top: 0px;
    }
}

.header-brand {
    height: 200px;
    width: auto;
} 

@media (max-width:550px) {
    .header-brand {
        height: 150px;
       
    }
}

@media (max-width:414px) {
    .header-brand {
        height: 120px;
       
    }
}

@media (max-width:325px) {
    .header-brand {
        height: 150px;
        text-align: center;
        
    }
}


.header-brand:hover {
    cursor: pointer;
    
}

.header-img {
    background-image: url("img/Titelbilddunkel.png");
    background-position: 50% 30%;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
}

.header-img-text {
    color: rgb(254, 225, 153);
    font-weight: lighter;
    font-family: 'Poiret One', cursive;
    font-size: 500%;
    text-align: center;
    padding-top: 250px;
    margin-top: 0px;
    margin-bottom:0px;

}

@media (max-width:550px) {
    .header-img-text {
        padding-top: 200px;
        font-size: 350%;
       
    }
}

@media (max-width:312px) {
    .header-img-text {
        padding-top: 100px;
        font-size: 250%;
    }
}

/* 
Service-Bereich
*/

.service-part {
    max-width: 1300px;
    margin: 0 auto 0 auto;
}
.service, 
.service-verkauf {
    padding: 100px 100px;
   
}

@media (max-width:845px) {
    .service, 
    .service-verkauf {
        padding: 80px 50px;
    }
}

@media (max-width:450px) {
    .service, 
    .service-verkauf {
        padding: 70px 20px;
    }
}

.service-verkauf {
    background-color: rgb(253, 253, 253);
}

.service-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
   
}

.service-icon {
    width: 150px;
    font-size: 700%;
    text-align: center;
   
}

 @media (max-width:845px) {
    .service-icon{
        font-size: 500%;
    } 
} 

.service-text {
    height: auto;
    text-align: center;
    max-width: 600px;
    
}

.service-text h1 {
    text-align: center;
}


/* 
Products-Bereich
*/

.products {
    background-image: url("img/Sternenhimmel.jpg");
    height: 800px;
    width: 100%;
    position: relative;
    background-size: cover;
  
   
}

.products-LED {
    background-image: url("img/LEDLeuchten.jpg");
    height: 800px;
    width: 100%;
    position: relative;
    background-size: cover;
}

.products-text {

    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5%;
    
}


.transparent-background {
    background-color: rgb(0, 0, 0, 0.5);
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

  .dropbtn {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.0);
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 7%;
    padding: 0 0 0 0;
    color: white;
    cursor: pointer;
    box-shadow: none;
    border: none;
    font-size: 400%;
    
    
  }  

  

.dropdown-content {
    color: white;
    padding: 0px 150px 0px 150px;
    height: 0px;
    background-color:rgb(0, 0, 0, 0.9);
    overflow: auto;
    font-size: 130%;
}

.dropdown-content p {

    margin: 70px 100px 0px 100px;
}

@media (max-width:800px) {
    .dropdown-content{
        padding: 0px 70px 0px 70px;
    } 
}
@media (max-width:450px) {
    .dropdown-content{
        padding: 0px 30px 0px 30px;
    } 
}

@media (max-width:1280px) {
    .dropdown-content p{
        margin: 70px 50px 0px 50px;
    } 
}
@media (max-width:800px) {
    .dropdown-content p{
        margin: 70px 30px 0px 30px;
    } 
}
@media (max-width:450px) {
    .dropdown-content p{
        margin: 50px 10px 0px 10px;
    } 
}

.dropdown-height {
    height: 400px;
    animation: dropdownheight 1s forwards; 
}

@keyframes dropdownheight {
    from { 
        height: 0px;
    }
    to {
        height: 400px;
    };
}

.inverse-dropdown-height {
    animation: inversedropdownheight 1s forwards; 
}

@keyframes inversedropdownheight {
    from { 
        height: 400px;
    }
    to {
        height: 0px;
    };
} 

.gallery-link {
    margin-top: 90px;
    margin-bottom: 70px;
    text-align: center;
    color: white;
    font-weight: lighter;
}

.gallery-link a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.gallery-link a:hover {
    cursor: pointer;
    color:  rgb(254, 225, 153);
    text-decoration: underline;
}

/*
* Weisser Übergang mit Glühbirne
*/

.whiteCrossing {
    height: 200px;
    background-color: white;
    
}

.whiteCrossingContainer {
    display: block;
    margin: auto 0;
    text-align: center;
    padding-top: 70px;
}

.whiteCrossingIcon {
    text-align: center;
    font-size: 250%;
    display: inline-block;
    padding: 0px 30px;
    transition: all 2s ease-in-out;
    color: rgb(81, 81, 81);
}

.whiteCrossingIcon:hover {
    transform: rotate(360deg);
    color: rgb(254, 225, 153);
}

.whiteCrossingStripe {
    color: rgb(81, 81, 81);
    width: 300px;
    height: 2px;
    background-color: rgb(81, 81, 81);
    display: inline-block;
}

@media (max-width:860px) {
    .whiteCrossingStripe{
        width: 150px;
    }
}

@media (max-width:460px) {
    .whiteCrossingStripe{
        width: 50px;
    }
}

/*
*About us
*/


.aboutUs {
    padding: 150px 150px;
    background: linear-gradient(140deg, rgb(254, 225, 153), rgb(235, 173, 59),rgb(254, 225, 153));
}

@media (max-width:845px) {
    .aboutUs {
        padding: 80px 50px;
    }
}

@media (max-width:450px) {
    .aboutUs {
        padding: 70px 20px;
    }
}

.aboutUsTitle {
    color: white;
    margin-top: 0px;
    margin-bottom: 100px;
    font-weight: lighter;
    text-align: center;
}

.aboutUsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.roger,
.nirmal {
    min-width: 450px;
    text-align: center;
    padding-bottom: 85px;
}

.portrait{
    height: 250px;
    border: solid 3px white;
    margin: 0 auto;
    
}

.name {
    color: white;
    font-weight: bold;
    font-size: 120%;
    margin: 50px 0 30px 0;
}

.personalData {
    color: white;
    margin: 5px;
}

.agb {
    text-align: center;
    margin-top: 100px;
 
}

.agb a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.agb a:hover {
    color: white;
    text-decoration: underline;
}

/*
* Contact
*/

.contact {
    padding: 150px 100px;
    background: linear-gradient(140deg, rgb(0, 0, 0), rgb(39, 39, 39),rgb(0, 0, 0));
}

@media (max-width:845px) {
    .contact {
        padding: 80px 50px;
    }
}

@media (max-width:450px) {
    .contact {
        padding: 70px 20px;
    }
}

.contactTitle {
    color: white;
    margin-top: 0px;
    font-weight: lighter;
    text-align: center;
}

.contact-subheading {
    color:rgb(255, 255, 255);
    font-weight: lighter;
    margin-bottom: 100px;
    text-align: center;

}

.contactContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.contactData,
.googleMaps {
    min-width: 350px;
    padding: 50px;
    
}

@media (max-width:450px) {
    .contactData,
    .googleMaps {
        min-width: 270px;
        padding: 70px 20px;
    }
}



.contact-icon {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.contact-methods {
    color: white;
    list-style-type: none;
    padding-left: 0px;
    margin-top:0px;
}

.contact-methods li{
    width: 100%;
    font-weight: lighter;
    height: 2.5em;
}

.contact-methods li .fa {
font-size: 150%;
}

.contact-adress {
    margin-top: 60px;
}

.contact-öffnungszeiten {
    margin-top: 60px;
}
.contact-adress p,
.contact-öffnungszeiten p {
    color: white;
    font-weight: lighter;
    margin-bottom: 0px;
}

.footer {
    background-color:  rgb(255, 255, 255);
    text-align: center;
    font-weight: lighter;
    margin-bottom: 0px;
    font-size: 150%;
    
}

.footer p {
    color: rgb(0, 0, 0);
}

.footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer a:hover {
    cursor: pointer;
    color: rgb(254, 225, 153);
}

.footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*
* Handelspartner
*/

.header-img-handelspartner {
    background-image: url("img/handshakedark.png");
    background-position: 80% 0;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
}

.handelspartner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 70px auto 70px auto;
}

.partnerBlock {
    padding: 50px;
    flex-basis: 300px;
}

.partnerBlock hr {
    margin-top: 70px;
}

.partnerLogo {
    height: 100px;
    text-align: center;
}

.partnerLogo-Bild {
    height: 100%;

}

.partnerText {
    margin: 40px 0 40px 0;
}

.partnerLink {
    text-align: center;
   
}

.partnerButton {
    height: 45px;
    width: 150px;
    border-radius: 10px;
}

.partnerButton:hover {
    background-color: rgb(254, 225, 153);
    cursor: pointer;
}

.partnerButton a {
    color: unset;
    text-decoration: none;
}

/*
* Galerie
*/

.header-img-gallery {
    background-image: url("img/Kronleuchterdunkel.png");
    background-position: 80% 0;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 70px auto 70px auto;
}


.galleryBlock {
    padding: 40px 50px;
    flex-basis: 300px;
   
}

@media (max-width:450px) {
    .galleryBlock {
        min-width: 150px;
        padding: 10px 20px;
        text-align: center;
    }
}

.galleryPhoto {
    height: 200px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

@media (max-width:450px) {
    .galleryPhoto {
      height: 150px;
    }
}

@media (max-width:250px) {
    .galleryPhoto {
      height: 100px;
    }
}

.galleryPhoto:hover {
    transform: scale(2);
    
}

.galleryPhoto-img {
    height: 100%;

}

.galleryText {
    margin: 20px 0 20px 0;
}

@media (max-width:450px) {
    .galleryText{
        margin: 20px 10px 20px 10px;
    }
}

